
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}



.header {
    width: 100%;
    text-align: center;
    border-bottom: solid lightgrey 1px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.graphContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graphContainer>.containerTop {
    width: 100%;
    height: 50%;
}

.graphContainer>.containerBottom {
    width: 100%;
    height: 50%;
}

.graphContainer>.containerTop>.wasserdampfGraphWrapper {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 30px;
}

.graphContainer>.containerTop>.stromGraphWrapper {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.graphContainer>.containerBottom>.druckluftGraphWrapper {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.graphContainer>.containerBottom>.vakuumGraphWrapper {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.graphContainer>.costGraphWrapper {
    padding-bottom: 30px;
}

.graph:hover {
    cursor: pointer;
}

.graph {
    width: 70% !important;
}

.popupOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
}

.popupOverlay>.popup {
    width: 70%;
    height: 70%;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.popupOverlay>.popup>.header {
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: none !important;
}

.popupOverlay>.popup>.header>img {
    width: 25px;
    height: 25px;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    margin-left: 5px;
}

.popupOverlay>.popup>.header>img:hover {
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    background-color: lightgrey;
}

.popupOverlay>.popup>.content {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.popupOverlay>.popup>.content>h2 {
    margin-bottom: 15px;
}

.popupOverlay>.popup>.content>canvas {
    width: 90% !important;
    height: 100% !important;
}

.popupOverlay>.popup>.content>p {
    margin-top: 10px;
}

.popupOverlay>.popup>.content>input {
    margin: 20px 0 20px 0;
    width: 30%;
    height: 30px;
}

.popupOverlay>.popup>.content>button {
    width: 100px;
    height: 40px;
}